<div class="container">
    <div class=" table_body  bg-white  shadow-lg " style="width: 100%;">

        <div>
            <div class="table-responsive">
                <div class="table-wrapper ">
                    <div class="table-title " style="margin-top: 10px;">
                        <div class="row">
                            <div class="col-sm-5 text-black">
                                <h2><b>Add Category</b></h2>
                            </div>

                        </div>
                    </div>

                    <div>
                        <div class="card bg-light mb-3 mt-3" style="max-width: 100%;">

                            <div class="card-header">
                                <h5><b>Add New Category</b></h5>
                            </div>
                            <div class="card-body">

                                <form #addCategory="ngForm" (ngSubmit)="getValue(addCategory.value)">
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <input type="text" ngModel class="form-control" id="category"
                                            name="category_name">
                                    </div>

                                    <button type="button" class="btn btn-primary float-right ml-3 "
                                        [routerLink]="['/admin/category']">Back</button>
                                    <button type="submit"  class="btn btn-success float-right ">Save</button>





                                </form>
                            </div>
                        </div>





                    </div>
                </div>
            </div>
        </div>

    </div>
</div>